POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=fullstack_developer_test_development
POSTGRES_TEST_DB=fullstack_developer_test_test
POSTGRES_QUEUE_DB=fullstack_developer_test_development_queue
POSTGRES_CABLE_DB=fullstack_developer_test_development_cable
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=ChangeMe123!
